/WineAdmin/.vs
/WineAdmin/bin
/WineAdmin/obj
/Domain/bin
/Domain/obj
/WineWeb/.vs
/WineWeb/Server/.vs
/WineWeb/Server/bin
/WineWeb/Server/obj
/WineWeb/Client/.vs
/WineWeb/Client/bin
/WineWeb/Client/obj
/WineWeb/Shared/bin
/WineWeb/Shared/obj
/WineWeb/Core/bin
/WineWeb/Core/obj

# Ignore any files in /bin and /obj Folders
**/bin/*
**/obj/*