@inherits LayoutComponentBase
<PageTitle>WineAdmin</PageTitle>

<Toasts class="p-3" AutoHide="true" Delay="400" Placement="ToastsPlacement.TopRight" />

<Preload LoadingText="Loading..." />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>